<!DOCTYPE html>
{% load static %}
<head>
    <title>Chien Visualization</title>
    <script type="text/javascript" src="{% static 'js/jquery-1.9.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/svg.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/svg.path.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/data_dict.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/map_entities.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.subwayMap-svg-0.5.0.js' %}"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/subwaymap.css' %}" />
</head>
<body>
    <div id="header">
        <div id="title">Chien Visualization</div>
        <div id="time_select">
            <select id="year_from">
            </select>
            年
            <select id="month_from">
            </select>
            月
            <select id="date_from">
            </select>
            日
            <select id="hours_from">
            </select>
            時
            <select id="minutes_from">
            </select>
            分
            〜
            <select id="year_to">
            </select>
            年
            <select id="month_to">
            </select>
            月
            <select id="date_to">
            </select>
            日
            <select id="hours_to">
            </select>
            時
            <select id="minutes_to">
            </select>
            分
            <button id="time_button">調べる</button>
        </div>
    </div>
    
    <div class="subway-map" data-columns="60" data-rows="35" data-cellSize="40" data-legendId="legend" data-textClass="text" data-gridNumbers="false" data-grid="false" data-lineWidth="10">
<ul data-color="#B50084" data-label="都営大江戸線">
<li data-coords="1,4" >光が丘</li>
<li data-coords="2,5" data-dir=S >練馬春日町</li>
<li data-coords="4,5" >豊島園</li>
<li data-coords="5,5" >練馬</li>
<li data-coords="6,6" data-dir="E" data-id="shin-egota">新江古田</li>
<li data-coords="6,7" data-id="ochiai-minami-nagasaki">落合南長崎</li>
<li data-coords="6,8" data-id="nakai">中井</li>
<li data-coords="6,10" data-id="higashi-nakano">東中野</li>
<li data-coords="6,12" data-marker="interchange" data-id="nakano-sakaue">中野坂上</li>
<li data-coords="6,13" data-dir=S></li>
<li data-coords="7,14" data-dir=S></li>
<li data-coords="8,14" data-id="nishi-shinjuku-gochome">西新宿五丁目</li>	
<li data-coords="9,13" data-dir=E data-marker="interchange" data-id="tochomae">都庁前</li>
<li data-coords="10,12" data-marker="interchange" data-id="shinjuku">新宿</li>
<li data-coords="11,13" data-dir=E></li>
<li data-coords="11,14" data-id="yoyogi">代々木</li>
<li data-coords="13,16" data-dir=S data-id="kokuritsu-kyogijo">国立競技場</li>
<li data-coords="14,17" data-dir=E data-marker="interchange" data-id="aoyama-itchome">青山一丁目</li>
<li data-coords="14,23" data-marker="interchange" data-id="roppongi">六本木</li> 
<li data-coords="14,24" data-dir=S></li>
<li data-coords="15,25" data-dir=S></li>
<li data-coords="16,25" data-marker="interchange" data-id="azabu-juban">麻布十番</li> 
<li data-coords="18,24" data-id="akabanebashi">赤羽橋</li> 
<li data-coords="20,24" data-marker="interchange" data-id="daimon">大門</li>
<li data-coords="21,24" data-id="shiodome">汐留</li>
<li data-coords="23,24" data-id="tsukijishijo">築地市場</li> 
<li data-coords="25,24" data-id="kachidoki">勝どき</li> 
<li data-coords="26,23" data-dir=E></li>
<li data-coords="26,22" data-dir=E data-marker="interchange">月島</li>
<li data-coords="26,18" data-marker="interchange">門前仲町</li>
<li data-coords="26,17" data-marker="interchange">清澄白河</li>
<li data-coords="26,14" data-marker="interchange">森下</li>
<li data-coords="26,12">両国</li>
<li data-coords="26,11"></li>
<li data-coords="25,10"></li>
<li data-coords="24,10" data-marker="interchange">蔵前</li>
<li data-coords="23,10">新御徒町</li> 
<li data-coords="21,10">上野御徒町</li> 
<li data-coords="18,11" data-marker="interchange">本郷三丁目</li>
<li data-coords="17,10" data-marker="interchange">春日</li>
<li data-coords="16,10"></li>
<li data-coords="15,12" data-marker="interchange">飯田橋</li>
<li data-coords="14,11" data-dir=W>牛込神楽坂</li>
<li data-coords="14,10">牛込柳町</li>
<li data-coords="13,10">若松河田</li>
<li data-coords="12,10" data-marker="interchange">東新宿</li>
<li data-coords="10,10">新宿西口</li>
<li data-coords="9,11" data-dir=W></li>
<li data-coords="9,13"></li>
</ul>

<ul data-color="#7BBC21" data-label="都営新宿線">
<li data-coords="10,12"></li>
<li data-coords="12,12" data-marker="interchange">新宿三丁目</li>
<li data-coords="14,12">曙橋</li>
<li data-coords="15,14" data-marker="interchange">市ケ谷</li>
<li data-coords="17,14" data-marker="interchange">九段下</li>
<li data-coords="18,14" data-marker="interchange">神保町</li>
<li data-coords="20,14">小川町</li>
<li data-coords="22,14">岩本町</li>
<li data-coords="23,14">馬喰横山</li>
<li data-coords="25,14">浜町</li>
<li data-coords="26,14"></li>
<li data-coords="28,14">菊川</li>
<li data-coords="29,14" data-marker="interchange">住吉</a></li>
<li data-coords="30,14">西大島</li>
<li data-coords="31,14">大島</li>
<li data-coords="32,14">東大島</li>
<li data-coords="33,14">船堀</li>
<li data-coords="34,14">一之江</li>
<li data-coords="35,14">瑞江</li>
<li data-coords="36,14">篠崎</li>
<li data-coords="37,14" data-marker="interchange">本八幡</li>
</ul>

<ul data-color="#0172C7" data-label="都営三田線">
<li data-coords="12,26" data-marker="interchange">目黒</li>
<li data-coords="14,26" data-marker="interchange">白金台</li>
<li data-coords="16,26" data-marker="interchange">白金高輪</li>
<li data-coords="19,26" data-marker="interchange">三田</li>
<li data-coords="19,25" data-dir=E>芝公園</li>
<li data-coords="19,23">御成門</li>
<li data-coords="19,21">内幸町</li>
<li data-coords="19,19" data-marker="interchange">日比谷</li>
<li data-coords="19,16">大手町</li>
<li data-coords="18,14"></li>
<li data-coords="17,13">水道橋</li>
<li data-coords="17,10"></li>
<li data-coords="17,8">白山</li>
<li data-coords="17,7">千石</li>
<li data-coords="17,6">巣鴨</li>
<li data-coords="16,5">西巣鴨</li>
<li data-coords="16,5"></li>
<li data-coords="15,4" data-dir=W></li>
<li data-coords="14,3"></li>
<li data-coords="13,3">新板橋</li>
<li data-coords="12,2" data-dir=W>板橋区役所前</li>
<li data-coords="11,1">板橋本町</li>
<li data-coords="10,1">本蓮沼</li>
<li data-coords="9,1">志村坂上</li>
<li data-coords="7,1">志村三丁目</li>
<li data-coords="6,1">蓮根</li>
<li data-coords="5,1">西台</li>
<li data-coords="4,1">高島平</li>
<li data-coords="3,1">新高島平</li>
<li data-coords="1,1">西高島平</li>
</ul>

<ul data-color="#E85298" data-label="都営浅草線">
<li data-coords="10,28">西馬込</li>
<li data-coords="11,28">馬込</li>
<li data-coords="12,28">中延</li>
<li data-coords="13,28">戸越</li>
<li data-coords="14,28">五反田</li>
<li data-coords="16,28">高輪台</li>
<li data-coords="18,28">泉岳寺</li>
<li data-coords="19,27" data-dir=E></li>
<li data-coords="19,26" data-dir=E></li>
<li data-coords="20,24"></li>
<li data-coords="20,22"></li>
<li data-coords="21,21" data-marker="interchange">東銀座</li>
<li data-coords="24,20">宝町</li>
<li data-coords="23,18" data-marker="interchange">日本橋</li>
<li data-coords="24,16" data-marker="interchange">人形町</li>
<li data-coords="24,13">東日本橋</li>
<li data-coords="24,12">浅草橋</li>
<li data-coords="24,10"></li>
<li data-coords="25,9" data-marker="interchange">浅草</li>
<li data-coords="27,9">本所吾妻橋</li>
<li data-coords="29,9" data-marker="interchange">押上</li>
</ul>

<ul data-color="#F39700" data-label="東京メトロ銀座線">
<li data-coords="11,18" data-marker="interchange">渋谷</li>
<li data-coords="12,18" data-marker="interchange">表参道</li>
<li data-coords="13,18">外苑前</li>
<li data-coords="14,17"></li>
<li data-coords="15,18" data-dir=E data-marker="interchange">赤坂見附</li>
<li data-coords="15,21" data-marker="interchange">溜池山王</li>
<li data-coords="16,22" data-dir=S></li>
<li data-coords="18,22">虎ノ門</li>
<li data-coords="20,22" data-marker="interchange">新橋</li>
<li data-coords="20,21" data-dir=S></li>
<li data-coords="21,20" data-marker="interchange">銀座</li>
<li data-coords="23,19">京橋</li>
<li data-coords="23,18"></li>
<li data-coords="23,17" data-marker="interchange">三越前</li>
<li data-coords="22,16"></li>
<li data-coords="21,16" data-dir=E>神田</li>
<li data-coords="21,12">末広町</li>
<li data-coords="20,11">上野広小路</li>
<li data-coords="20,10"></li>
<li data-coords="21,9"></li>
<li data-coords="22,9" data-marker="interchange">上野</li>
<li data-coords="23,9">稲荷町</li>
<li data-coords="24,9">田原町</li>
<li data-coords="25,9"></li>
</ul>

<ul data-color="#E60012" data-label="東京メトロ丸ノ内線" data-shiftCoords="0,-1">
<li data-coords="1,10">荻窪</li>
<li data-coords="1,11">南阿佐ケ谷</li>
<li data-coords="2,12" data-dir=S>新高円寺</li>
<li data-coords="3,12">東高円寺</li>
<li data-coords="4,12" data-dir=S>新中野</li>
<li data-coords="6,12"></li>
<li data-coords="8,12">西新宿</li>
<li data-coords="10,12"></li>
<li data-coords="12,12"></li>
<li data-coords="13,13" data-dir=E>新宿御苑前</li>
<li data-coords="13,14">四谷三丁目</li>
<li data-coords="14,15" data-dir=S data-marker="interchange">四ツ谷</li>
<li data-coords="15,18"></li>
<li data-coords="16,20"></li>
<li data-coords="18,20"></li>
<li data-coords="21,20"></li>
<li data-coords="22,19" data-dir=E></li>
<li data-coords="21,18">東京</li>
<li data-coords="19,16"></li>
<li data-coords="20,15">淡路町</li>
<li data-coords="21,14" data-dir=E></li>
<li data-coords="20,13"></li>
<li data-coords="18,12" data-dir=E>御茶ノ水</li>
<li data-coords="18,11"></li>
<li data-coords="16,11" data-marker="interchange">後楽園</li>
<li data-coords="16,7">茗荷谷</li>
<li data-coords="15,6">新大塚</li>
<li data-coords="10,5" data-marker="interchange">池袋</li>
</ul>

<ul data-color="#f06d76" data-label="東京メトロ丸ノ内線支線" data-shiftCoords="0,-1">
<li data-coords="2,14">方南町</li>
<li data-coords="4,14">中野富士見町</li>
<li data-coords="5,13" data-dir=E>中野新橋駅</li>
<li data-coords="6,12"></li>
</ul>

<ul data-color="#B9B9B9" data-label="東京メトロ日比谷線" data-shiftCoords="0,1">
<li data-coords="10,23">中目黒</li>
<li data-coords="12,23">恵比寿</li>
<li data-coords="13,23">広尾</li>
<li data-coords="16,23">神谷町</li>
<li data-coords="17,22" data-dir=E></li>
<li data-coords="17,21" data-dir=E></li>
<li data-coords="18,20" data-marker="interchange">霞ケ関</li>
<li data-coords="19,19"></li>
<li data-coords="20,19" data-dir=E></li>
<li data-coords="21,20" data-dir=E></li>
<li data-coords="21,21"></li>
<li data-coords="22,22" data-dir=S></li>
<li data-coords="23,22">築地</li>
<li data-coords="24,22"></li>
<li data-coords="25,21" data-dir=E></li>
<li data-coords="25,20">八丁堀</li>
<li data-coords="25,18" data-marker="interchange">茅場町</li>
<li data-coords="24,16"></li>
<li data-coords="23,15">小伝馬町</li>
<li data-coords="22,12">秋葉原</li>
<li data-coords="22,11">仲御徒町</li>
<li data-coords="22,9"></li>
<li data-coords="22,8">入谷</li>
<li data-coords="23,7">三ノ輪</li>
<li data-coords="24,7">南千住</li>
<li data-coords="25,6" data-dir=E></li>
<li data-coords="25,5" data-marker="interchange">北千住</li>
</ul>

<ul data-color="#00A7DB" data-label="東京メトロ東西線">
<li data-coords="5,10">中野</li>
<li data-coords="8,9">落合</li>
<li data-coords="11,8">高田馬場</li>
<li data-coords="13,8" data-dir=E>早稲田</li>
<li data-coords="14,9" data-dir=E>神楽坂</li>
<li data-coords="15,12"></li>
<li data-coords="17,14" data-dir=E></li>
<li data-coords="17,16">竹橋</li>
<li data-coords="19,16" data-marker="interchange">大手町</li>
<li data-coords="21,17"></li>
<li data-coords="23,18"></li>
<li data-coords="25,18"></li>
<li data-coords="26,18" data-marker="interchange"></li>
<li data-coords="28,18">木場</li>
<li data-coords="29,18">東陽町</li>
<li data-coords="30,18">南砂町</li>
<li data-coords="31,18">西葛西</li>
<li data-coords="32,18">葛西</li>
<li data-coords="33,18">浦安</li>
<li data-coords="34,18">南行徳</li>
<li data-coords="35,18">行徳</li>
<li data-coords="36,18">妙典</li>
<li data-coords="37,18">原木中山</li>
<li data-coords="38,17" data-dir=E>西船橋</li>
</ul>

<ul data-color="#009944" data-label="東京メトロ千代田線" data-shiftCoords="-1,0">
<li data-coords="8,16">代々木上原</li>
<li data-coords="10,16">代々木公園</li>
<li data-coords="11,16" data-dir=E></li>
<li data-coords="12,17" data-dir=E data-marker="interchange">明治神宮前</li>
<li data-coords="12,18"></li>
<li data-coords="12,19">乃木坂</li>
<li data-coords="13,20" data-dir=S>赤坂</li>
<li data-coords="16,20" data-marker="interchange">国会議事堂前</li>
<li data-coords="18,20"></li>
<li data-coords="19,19"></li>
<li data-coords="19,17">二重橋前</li>
<li data-coords="19,16"></li>
<li data-coords="19,13">新御茶ノ水</li>
<li data-coords="19,12">湯島</li>
<li data-coords="20,8">根津</li>
<li data-coords="20,6">千駄木</li>
<li data-coords="21,5"></li>
<li data-coords="22,5">西日暮里</li>
<li data-coords="24,5">町屋</li>
<li data-coords="25,5"></li>
<li data-coords="27,5">綾瀬</li>
<li data-coords="28,4" data-dir=E>北綾瀬</li>
</ul>

<ul data-color="#D7C447" data-label="東京メトロ有楽町線" data-shiftCoords="1,0">
<li data-coords="1,2" data-marker="interchange" data-markerShiftCoords="0.5,-0.5">和光市</li>
<li data-coords="3,2" data-marker="interchange" data-markerShiftCoords="0,-0.5">地下鉄成増</li>
<li data-coords="5,2" data-marker="interchange">地下鉄赤塚</li>
<li data-coords="6,3" data-dir=E data-marker="interchange">平和台</li>
<li data-coords="6,4" data-marker="interchange">氷川台</li>
<li data-coords="7,5" data-dir=S data-marker="interchange">小竹向原</li>
<li data-coords="8,5" data-marker="interchange">千川</li>
<li data-coords="9,5" data-marker="interchange">要町</li>
<li data-coords="10,5" data-dir=E></li>
<li data-coords="13,6" data-dir=S>東池袋</li>
<li data-coords="15,7" data-dir=S>護国寺</li>
<li data-coords="15,8" data-dir=E>江戸川橋</li>
<li data-coords="15,12"></li>
<li data-coords="15,14"></li>
<li data-coords="15,15">麹町</li>
<li data-coords="15,16" data-marker="interchange">永田町</li>
<li data-coords="17,18">桜田門</li>
<li data-coords="20,18"></li>
<li data-coords="21,19" data-dir=E>有楽町</li>
<li data-coords="22,20" data-dir=S>銀座一丁目</li>
<li data-coords="23,21" data-dir=E>新富町</li>
<li data-coords="24,22" data-dir=S></li>
<li data-coords="26,22" data-dir=E></li>
<li data-coords="28,22" data-dir=E>豊洲</li>
<li data-coords="29,22">辰巳</li>
<li data-coords="30,21" data-dir=E>新木場</li>
</ul>


<ul data-color="#9B7CB6" data-label="東京メトロ半蔵門線" data-shiftCoords="0,-1">
<li data-coords="11,18"></li>
<li data-coords="12,18"></li>
<li data-coords="14,17"></li>
<li data-coords="15,16" data-dir=N></li>
<li data-coords="16,15" data-dir=E>半蔵門</li>
<li data-coords="17,14"></li>
<li data-coords="18,14"></li>
<li data-coords="19,16"></li>
<li data-coords="21,17"></li>
<li data-coords="23,17"></li>
<li data-coords="25,17">水天宮前</li>
<li data-coords="26,17"></li>
<li data-coords="28,17"></li>
<li data-coords="29,16" data-dir=E></li>
<li data-coords="29,14"></li>
<li data-coords="29,12">錦糸町</li>
<li data-coords="29,9"></li>
</ul>

<ul data-color="#00ADA9" data-label="東京メトロ南北線" data-shiftCoords="0,-1">
<li data-coords="12,26"></li>
<li data-coords="14,26"></li>
<li data-coords="16,26"></li>
<li data-coords="16,25"></li>
<li data-coords="15,22">六本木一丁目</li>
<li data-coords="15,21"></li>
<li data-coords="16,19"></li>
<li data-coords="16,17" data-dir=E></li>
<li data-coords="15,16"></li>
<li data-coords="14,15" data-dir=W></li>
<li data-coords="15,14"></li>
<li data-coords="15,12"></li>
<li data-coords="16,11"></li>
<li data-coords="18,10">東大前</li>
<li data-coords="19,9" data-dir=E>本駒込</li>
<li data-coords="19,7">駒込</li>
<li data-coords="19,5">西ケ原</li>
<li data-coords="19,4">王子</li>
<li data-coords="18,3">王子神谷</li>
<li data-coords="17,3">志茂</li>
<li data-coords="16,3">赤羽岩淵</li>
</ul>

<ul data-color="#BB641C" data-label="東京メトロ副都心線" data-shiftCoords="1,-1">
<li data-coords="1,2"></li>
<li data-coords="3,2"></li>
<li data-coords="5,2"></li>
<li data-coords="6,3" data-dir=E></li>
<li data-coords="6,4"></li>
<li data-coords="7,5" data-dir=S></li>
<li data-coords="8,5"></li>
<li data-coords="9,5"></li>
<li data-coords="10,5"></li>
<li data-coords="12,7" data-dir=E>雑司が谷</li>
<li data-coords="12,9" data-dir=S>西早稲田</li>
<li data-coords="12,10"></li>
<li data-coords="12,12"></li>
<li data-coords="12,16">北参道</li>
<li data-coords="12,17"></li>
<li data-coords="11,18" data-dir=S></li>
</ul>
    </div>
    <div id="sidebar">
        <button id="sidebar-toggle">Toggle</button>
        <div id="sidebar-content"></div>
    </div>
    <div id="legend"></div>
    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
      
        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };
      
        return t;
    }(document, "script", "twitter-wjs"));</script>
    <script type="text/javascript" src="{% static 'js/run.js' %}"></script>
</body>
</html>
