<!DOCTYPE html>
{% load static %}
<head>
    <title>Chien Visualization</title>
    <script type="text/javascript" src="{% static 'js/jquery-1.9.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/svg.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/svg.path.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/data_dict.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/map_entities.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.subwayMap-0.5.0.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/subwaymap.css' %}" />
</head>
<body>
    <div id="header">
        <div id="title">Chien Visualization</div>
        <div id="time_select">
            <select id="year_from">
            </select>
            年
            <select id="month_from">
            </select>
            月
            <select id="date_from">
            </select>
            日
            <select id="hours_from">
            </select>
            時
            <select id="minutes_from">
            </select>
            分
            〜
            <select id="year_to">
            </select>
            年
            <select id="month_to">
            </select>
            月
            <select id="date_to">
            </select>
            日
            <select id="hours_to">
            </select>
            時
            <select id="minutes_to">
            </select>
            分
            <button id="time_button">調べる</button>
        </div>
    </div>
    
    <div class="subway-map" data-columns="60" data-rows="35" data-cellSize="40" data-legendId="legend" data-textClass="text" data-gridNumbers="true" data-grid="true" data-lineWidth="10">
<ul data-color="#B50084" data-label="都営大江戸線">
<li data-coords="1,4" >光が丘</li>
<li data-coords="2,5" data-dir=S >練馬春日町</li>
<li data-coords="4,5" >豊島園</li>
<li data-coords="5,5" >練馬</li>
<li data-coords="6,6" data-dir="E" data-id="shin-egota">新江古田</li>
<li data-coords="6,7" data-id="ochiai-minami-nagasaki">落合南長崎</li>
<li data-coords="6,8" data-id="nakai">中井</li>
<li data-coords="6,10" data-id="higashi-nakano">東中野</li>
<li data-coords="6,12" data-marker="interchange" data-id="nakano-sakaue">中野坂上</li>
<li data-coords="6,13" data-dir=S></li>
<li data-coords="7,14" data-dir=S></li>
<li data-coords="8,14" data-id="nishi-shinjuku-gochome">西新宿五丁目</li>	
<li data-coords="9,13" data-dir=E data-marker="interchange" data-id="tochomae">都庁前</li>
<li data-coords="10,12" data-marker="interchange" data-id="shinjuku">新宿</li>
<li data-coords="11,13" data-dir=E></li>
<li data-coords="11,14" data-id="yoyogi">代々木</li>
<li data-coords="13,16" data-dir=S data-id="kokuritsu-kyogijo">国立競技場</li>
<li data-coords="14,17" data-dir=E data-marker="interchange" data-id="aoyama-itchome">青山一丁目</li>
<li data-coords="14,23" data-marker="interchange" data-id="roppongi">六本木</li> 
<li data-coords="14,24" data-dir=S></li>
<li data-coords="15,25" data-dir=S></li>
<li data-coords="16,25" data-marker="interchange" data-id="azabu-juban">麻布十番</li> 
<li data-coords="18,24" data-id="akabanebashi">赤羽橋</li> 
<li data-coords="20,24" data-marker="interchange" data-id="daimon">大門</li>
<li data-coords="21,24" data-id="shiodome">汐留</li>
<li data-coords="23,24" data-id="tsukijishijo">築地市場</li> 
<li data-coords="25,24" data-id="kachidoki">勝どき</li> 
<li data-coords="26,23" data-dir=E></li>
<li data-coords="26,22" data-dir=E data-marker="interchange">月島</li>
<li data-coords="26,18" data-marker="interchange">門前仲町</li>
<li data-coords="26,17" data-marker="interchange">清澄白河</li>
<li data-coords="26,14" data-marker="interchange">森下</li>
<li data-coords="26,12">両国</li>
<li data-coords="26,11"></li>
<li data-coords="25,10"></li>
<li data-coords="24,10" data-marker="interchange">蔵前</li>
<li data-coords="23,10">新御徒町</li> 
<li data-coords="21,10">上野御徒町</li> 
<li data-coords="18,11" data-marker="interchange">本郷三丁目</li>
<li data-coords="17,10" data-marker="interchange">春日</li>
<li data-coords="16,10"></li>
<li data-coords="15,12" data-marker="interchange">飯田橋</li>
<li data-coords="14,11" data-dir=W>牛込神楽坂</li>
<li data-coords="14,10">牛込柳町</li>
<li data-coords="13,10">若松河田</li>
<li data-coords="12,10" data-marker="interchange">東新宿</li>
<li data-coords="10,10">新宿西口</li>
<li data-coords="9,11" data-dir=W></li>
<li data-coords="9,13"></li>
</ul>

<ul data-color="#7BBC21" data-label="都営新宿線">
<li data-coords="10,12"></li>
<li data-coords="12,12" data-marker="interchange">新宿三丁目</li>
<li data-coords="14,12">曙橋</li>
<li data-coords="15,14" data-marker="interchange">市ケ谷</li>
<li data-coords="17,14" data-marker="interchange">九段下</li>
<li data-coords="18,14" data-marker="interchange">神保町</li>
<li data-coords="20,14">小川町</li>
<li data-coords="22,14">岩本町</li>
<li data-coords="23,14">馬喰横山</li>
<li data-coords="25,14">浜町</li>
<li data-coords="26,14"></li>
<li data-coords="28,14">菊川</li>
<li data-coords="29,14" data-marker="interchange">住吉</a></li>
<li data-coords="30,14">西大島</li>
<li data-coords="31,14">大島</li>
<li data-coords="32,14">東大島</li>
<li data-coords="33,14">船堀</li>
<li data-coords="34,14">一之江</li>
<li data-coords="35,14">瑞江</li>
<li data-coords="36,14">篠崎</li>
<li data-coords="37,14" data-marker="interchange">本八幡</li>
</ul>

<ul data-color="#0172C7" data-label="都営三田線">
<li data-coords="12,26" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E7%9B%AE%E9%BB%92%E9%A7%85">目黒</a></li>
<li data-coords="14,26" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E7%99%BD%E9%87%91%E5%8F%B0%E9%A7%85">白金台</a></li>
<li data-coords="16,26" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E7%99%BD%E9%87%91%E9%AB%98%E8%BC%AA%E9%A7%85">白金高輪</a></li>
<li data-coords="19,26" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E4%B8%89%E7%94%B0%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">三田</a></li>
<li data-coords="19,25" data-dir=E><a href="http://ja.wikipedia.org/wiki/%E8%8A%9D%E5%85%AC%E5%9C%92%E9%A7%85">芝公園</a></li>
<li data-coords="19,23"><a href="http://ja.wikipedia.org/wiki/%E5%BE%A1%E6%88%90%E9%96%80%E9%A7%85">御成門</a></li>
<li data-coords="19,21"><a href="http://ja.wikipedia.org/wiki/%E5%86%85%E5%B9%B8%E7%94%BA%E9%A7%85">内幸町</a></li>
<li data-coords="19,19" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E6%97%A5%E6%AF%94%E8%B0%B7%E9%A7%85" class="overlap">日比谷</a></li>
<li data-coords="19,16"><a href="http://ja.wikipedia.org/wiki/%E5%A4%A7%E6%89%8B%E7%94%BA%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">大手町</a></li>
<li data-coords="18,14"></li>
<li data-coords="17,13"><a href="http://ja.wikipedia.org/wiki/%E6%B0%B4%E9%81%93%E6%A9%8B%E9%A7%85">水道橋</a></li>
<li data-coords="17,10"></li>
<li data-coords="17,8"><a href="http://ja.wikipedia.org/wiki/%E7%99%BD%E5%B1%B1%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">白山</a></li>
<li data-coords="17,7"><a href="http://ja.wikipedia.org/wiki/%E5%8D%83%E7%9F%B3%E9%A7%85">千石</a></li>
<li data-coords="17,6"><a href="http://ja.wikipedia.org/wiki/%E5%B7%A3%E9%B4%A8%E9%A7%85">巣鴨</a></li>
<li data-coords="16,5"><a href="http://ja.wikipedia.org/wiki/%E8%A5%BF%E5%B7%A3%E9%B4%A8%E9%A7%85">西巣鴨</a></li>
<li data-coords="16,5"></li>
<li data-coords="15,4" data-dir=W></li>
<li data-coords="14,3"></li>
<li data-coords="13,3"><a href="http://ja.wikipedia.org/wiki/%E6%96%B0%E6%9D%BF%E6%A9%8B%E9%A7%85">新板橋</a></li>
<li data-coords="12,2" data-dir=W><a href="http://ja.wikipedia.org/wiki/%E6%9D%BF%E6%A9%8B%E5%8C%BA%E5%BD%B9%E6%89%80%E5%89%8D%E9%A7%85">板橋区役所前</a></li>
<li data-coords="11,1"><a href="http://ja.wikipedia.org/wiki/%E6%9D%BF%E6%A9%8B%E6%9C%AC%E7%94%BA%E9%A7%85">板橋本町</a></li>
<li data-coords="10,1"><a href="http://ja.wikipedia.org/wiki/%E6%9C%AC%E8%93%AE%E6%B2%BC%E9%A7%85">本蓮沼</a></li>
<li data-coords="9,1"><a href="http://ja.wikipedia.org/wiki/%E5%BF%97%E6%9D%91%E5%9D%82%E4%B8%8A%E9%A7%85">志村坂上</a></li>
<li data-coords="7,1"><a href="http://ja.wikipedia.org/wiki/%E5%BF%97%E6%9D%91%E4%B8%89%E4%B8%81%E7%9B%AE%E9%A7%85">志村三丁目</a></li>
<li data-coords="6,1"><a href="http://ja.wikipedia.org/wiki/%E8%93%AE%E6%A0%B9%E9%A7%85">蓮根</a></li>
<li data-coords="5,1"><a href="http://ja.wikipedia.org/wiki/%E8%A5%BF%E5%8F%B0%E9%A7%85">西台</a></li>
<li data-coords="4,1"><a href="http://ja.wikipedia.org/wiki/%E9%AB%98%E5%B3%B6%E5%B9%B3%E9%A7%85">高島平</a></li>
<li data-coords="3,1"><a href="http://ja.wikipedia.org/wiki/%E6%96%B0%E9%AB%98%E5%B3%B6%E5%B9%B3%E9%A7%85">新高島平</a></li>
<li data-coords="1,1"><a href="http://ja.wikipedia.org/wiki/%E8%A5%BF%E9%AB%98%E5%B3%B6%E5%B9%B3%E9%A7%85">西高島平</a></li>
</ul>

<ul data-color="#E85298" data-label="都営浅草線">
<li data-coords="10,28"><a href="http://ja.wikipedia.org/wiki/%E8%A5%BF%E9%A6%AC%E8%BE%BC%E9%A7%85">西馬込</a></li>
<li data-coords="11,28"><a href="http://ja.wikipedia.org/wiki/%E9%A6%AC%E8%BE%BC%E9%A7%85">馬込</a></li>
<li data-coords="12,28"><a href="http://ja.wikipedia.org/wiki/%E4%B8%AD%E5%BB%B6%E9%A7%85">中延</a></li>
<li data-coords="13,28"><a href="http://ja.wikipedia.org/wiki/%E6%88%B8%E8%B6%8A%E9%A7%85">戸越</a></li>
<li data-coords="14,28"><a href="http://ja.wikipedia.org/wiki/%E4%BA%94%E5%8F%8D%E7%94%B0%E9%A7%85">五反田</a></li>
<li data-coords="16,28"><a href="http://ja.wikipedia.org/wiki/%E9%AB%98%E8%BC%AA%E5%8F%B0%E9%A7%85">高輪台</a></li>
<li data-coords="18,28"><a href="http://ja.wikipedia.org/wiki/%E6%B3%89%E5%B2%B3%E5%AF%BA%E9%A7%85">泉岳寺</a></li>
<li data-coords="19,27" data-dir=E></li>
<li data-coords="19,26" data-dir=E></li>
<li data-coords="20,24"></li>
<li data-coords="20,22"></li>
<li data-coords="21,21" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E6%9D%B1%E9%8A%80%E5%BA%A7%E9%A7%85">東銀座</a></li>
<li data-coords="24,20"><a href="http://ja.wikipedia.org/wiki/%E5%AE%9D%E7%94%BA%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">宝町</a></li>
<li data-coords="23,18" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E6%97%A5%E6%9C%AC%E6%A9%8B%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">日本橋</a></li>
<li data-coords="24,16" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E4%BA%BA%E5%BD%A2%E7%94%BA%E9%A7%85">人形町</a></li>
<li data-coords="24,13"><a href="http://ja.wikipedia.org/wiki/%E6%9D%B1%E6%97%A5%E6%9C%AC%E6%A9%8B%E9%A7%85">東日本橋</a></li>
<li data-coords="24,12"><a href="http://ja.wikipedia.org/wiki/%E6%B5%85%E8%8D%89%E6%A9%8B%E9%A7%85">浅草橋</a></li>
<li data-coords="24,10"></li>
<li data-coords="25,9" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E6%B5%85%E8%8D%89%E9%A7%85">浅草</a></li>
<li data-coords="27,9"><a href="http://ja.wikipedia.org/wiki/%E6%9C%AC%E6%89%80%E5%90%BE%E5%A6%BB%E6%A9%8B%E9%A7%85">本所吾妻橋</a></li>
<li data-coords="29,9" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E6%8A%BC%E4%B8%8A%E9%A7%85">押上</a></li>
</ul>

<ul data-color="#F39700" data-label="東京メトロ銀座線">
<li data-coords="11,18" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E6%B8%8B%E8%B0%B7%E9%A7%85">渋谷</a></li>
<li data-coords="12,18" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E8%A1%A8%E5%8F%82%E9%81%93%E9%A7%85">表参道</a></li>
<li data-coords="13,18"><a href="http://ja.wikipedia.org/wiki/%E5%A4%96%E8%8B%91%E5%89%8D%E9%A7%85">外苑前</a></li>
<li data-coords="14,17"></li>
<li data-coords="15,18" data-dir=E data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E8%B5%A4%E5%9D%82%E8%A6%8B%E9%99%84%E9%A7%85">赤坂見附</a></li>
<li data-coords="15,21" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E6%BA%9C%E6%B1%A0%E5%B1%B1%E7%8E%8B%E9%A7%85">溜池山王</a></li>
<li data-coords="16,22" data-dir=S></li>
<li data-coords="18,22"><a href="http://ja.wikipedia.org/wiki/%E8%99%8E%E3%83%8E%E9%96%80%E9%A7%85">虎ノ門</a></li>
<li data-coords="20,22" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E6%96%B0%E6%A9%8B%E9%A7%85">新橋</a></li>
<li data-coords="20,21" data-dir=S></li>
<li data-coords="21,20" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E9%8A%80%E5%BA%A7%E9%A7%85">銀座</a></li>
<li data-coords="23,19"><a href="http://ja.wikipedia.org/wiki/%E4%BA%AC%E6%A9%8B%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">京橋</a></li>
<li data-coords="23,18"></li>
<li data-coords="23,17" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E4%B8%89%E8%B6%8A%E5%89%8D%E9%A7%85">三越前</a></li>
<li data-coords="22,16"></li>
<li data-coords="21,16" data-dir=E><a href="http://ja.wikipedia.org/wiki/%E7%A5%9E%E7%94%B0%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">神田</a></li>
<li data-coords="21,12"><a href="http://ja.wikipedia.org/wiki/%E6%9C%AB%E5%BA%83%E7%94%BA%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">末広町</a></li>
<li data-coords="20,11"><a href="http://ja.wikipedia.org/wiki/%E4%B8%8A%E9%87%8E%E5%BA%83%E5%B0%8F%E8%B7%AF%E9%A7%85">上野広小路</a></li>
<li data-coords="20,10"></li>
<li data-coords="21,9"></li>
<li data-coords="22,9" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E4%B8%8A%E9%87%8E%E9%A7%85">上野</a></li>
<li data-coords="23,9"><a href="http://ja.wikipedia.org/wiki/%E7%A8%B2%E8%8D%B7%E7%94%BA%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">稲荷町</a></li>
<li data-coords="24,9"><a href="http://ja.wikipedia.org/wiki/%E7%94%B0%E5%8E%9F%E7%94%BA%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">田原町</a></li>
<li data-coords="25,9"></li>
</ul>

<ul data-color="#E60012" data-label="東京メトロ丸ノ内線" data-shiftCoords="0,-1">
<li data-coords="1,10"><a href="http://ja.wikipedia.org/wiki/%E8%8D%BB%E7%AA%AA%E9%A7%85">荻窪</a></li>
<li data-coords="1,11"><a href="http://ja.wikipedia.org/wiki/%E5%8D%97%E9%98%BF%E4%BD%90%E3%82%B1%E8%B0%B7%E9%A7%85">南阿佐ケ谷</a></li>
<li data-coords="2,12" data-dir=S><a href="http://ja.wikipedia.org/wiki/%E6%96%B0%E9%AB%98%E5%86%86%E5%AF%BA%E9%A7%85">新高円寺</a></li>
<li data-coords="3,12"><a href="http://ja.wikipedia.org/wiki/%E6%9D%B1%E9%AB%98%E5%86%86%E5%AF%BA%E9%A7%85">東高円寺</a></li>
<li data-coords="4,12" data-dir=S><a href="http://ja.wikipedia.org/wiki/%E6%96%B0%E4%B8%AD%E9%87%8E%E9%A7%85">新中野</a></li>
<li data-coords="6,12"></li>
<li data-coords="8,12"><a href="http://ja.wikipedia.org/wiki/%E8%A5%BF%E6%96%B0%E5%AE%BF%E9%A7%85">西新宿</a></li>
<li data-coords="10,12"></li>
<li data-coords="12,12"></li>
<li data-coords="13,13" data-dir=E><a href="http://ja.wikipedia.org/wiki/%E6%96%B0%E5%AE%BF%E5%BE%A1%E8%8B%91%E5%89%8D%E9%A7%85">新宿御苑前</a></li>
<li data-coords="13,14"><a href="http://ja.wikipedia.org/wiki/%E5%9B%9B%E8%B0%B7%E4%B8%89%E4%B8%81%E7%9B%AE%E9%A7%85">四谷三丁目</a></li>
<li data-coords="14,15" data-dir=S data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E5%9B%9B%E3%83%84%E8%B0%B7%E9%A7%85">四ツ谷</a></li>
<li data-coords="15,18"></li>
<li data-coords="16,20"></li>
<li data-coords="18,20"></li>
<li data-coords="21,20"></li>
<li data-coords="22,19" data-dir=E></li>
<li data-coords="21,18"><a href="http://ja.wikipedia.org/wiki/%E6%9D%B1%E4%BA%AC%E9%A7%85">東京</a></li>
<li data-coords="19,16"></li>
<li data-coords="20,15"><a href="http://ja.wikipedia.org/wiki/%E6%B7%A1%E8%B7%AF%E7%94%BA%E9%A7%85">淡路町</a></li>
<li data-coords="21,14" data-dir=E></li>
<li data-coords="20,13"></li>
<li data-coords="18,12" data-dir=E><a href="http://ja.wikipedia.org/wiki/%E5%BE%A1%E8%8C%B6%E3%83%8E%E6%B0%B4%E9%A7%85">御茶ノ水</a></li>
<li data-coords="18,11"></li>
<li data-coords="16,11" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E5%BE%8C%E6%A5%BD%E5%9C%92%E9%A7%85">後楽園</a></li>
<li data-coords="16,7"><a href="http://ja.wikipedia.org/wiki/%E8%8C%97%E8%8D%B7%E8%B0%B7%E9%A7%85">茗荷谷</a></li>
<li data-coords="15,6"><a href="http://ja.wikipedia.org/wiki/%E6%96%B0%E5%A4%A7%E5%A1%9A%E9%A7%85">新大塚</a></li>
<li data-coords="10,5" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E6%B1%A0%E8%A2%8B%E9%A7%85" class="overlap">池袋</a></li>
</ul>

<ul data-color="#f06d76" data-label="東京メトロ丸ノ内線支線" data-shiftCoords="0,-1">
<li data-coords="2,14"><a href="http://ja.wikipedia.org/wiki/%E6%96%B9%E5%8D%97%E7%94%BA%E9%A7%85">方南町</a></li>
<li data-coords="4,14"><a href="http://ja.wikipedia.org/wiki/%E4%B8%AD%E9%87%8E%E5%AF%8C%E5%A3%AB%E8%A6%8B%E7%94%BA%E9%A7%85">中野富士見町</a></li>
<li data-coords="5,13" data-dir=E><a href="http://ja.wikipedia.org/wiki/%E4%B8%AD%E9%87%8E%E6%96%B0%E6%A9%8B%E9%A7%85">中野新橋駅</a></li>
<li data-coords="6,12"></li>
</ul>

<ul data-color="#B9B9B9" data-label="東京メトロ日比谷線" data-shiftCoords="0,1">
<li data-coords="10,23"><a href="http://ja.wikipedia.org/wiki/%E4%B8%AD%E7%9B%AE%E9%BB%92%E9%A7%85">中目黒</a></li>
<li data-coords="12,23"><a href="http://ja.wikipedia.org/wiki/%E6%81%B5%E6%AF%94%E5%AF%BF%E9%A7%85">恵比寿</a></li>
<li data-coords="13,23"><a href="http://ja.wikipedia.org/wiki/%E5%BA%83%E5%B0%BE%E9%A7%85">広尾</a></li>
<li data-coords="16,23"><a href="http://ja.wikipedia.org/wiki/%E7%A5%9E%E8%B0%B7%E7%94%BA%E9%A7%85">神谷町</a></li>
<li data-coords="17,22" data-dir=E></li>
<li data-coords="17,21" data-dir=E></li>
<li data-coords="18,20" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E9%9C%9E%E3%82%B1%E9%96%A2%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">霞ケ関</a></li>
<li data-coords="19,19"></li>
<li data-coords="20,19" data-dir=E></li>
<li data-coords="21,20" data-dir=E></li>
<li data-coords="21,21"></li>
<li data-coords="22,22" data-dir=S></li>
<li data-coords="23,22"><a href="http://ja.wikipedia.org/wiki/%E7%AF%89%E5%9C%B0%E9%A7%85">築地</a></li>
<li data-coords="24,22"></li>
<li data-coords="25,21" data-dir=E></li>
<li data-coords="25,20"><a href="http://ja.wikipedia.org/wiki/%E5%85%AB%E4%B8%81%E5%A0%80%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">八丁堀</a></li>
<li data-coords="25,18" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E8%8C%85%E5%A0%B4%E7%94%BA%E9%A7%85">茅場町</a></li>
<li data-coords="24,16"></li>
<li data-coords="23,15"><a href="http://ja.wikipedia.org/wiki/%E5%B0%8F%E4%BC%9D%E9%A6%AC%E7%94%BA%E9%A7%85">小伝馬町</a></li>
<li data-coords="22,12"><a href="http://ja.wikipedia.org/wiki/%E7%A7%8B%E8%91%89%E5%8E%9F%E9%A7%85">秋葉原</a></li>
<li data-coords="22,11"><a href="http://ja.wikipedia.org/wiki/%E4%BB%B2%E5%BE%A1%E5%BE%92%E7%94%BA%E9%A7%85">仲御徒町</a></li>
<li data-coords="22,9"></li>
<li data-coords="22,8"><a href="http://ja.wikipedia.org/wiki/%E5%85%A5%E8%B0%B7%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">入谷</a></li>
<li data-coords="23,7"><a href="http://ja.wikipedia.org/wiki/%E4%B8%89%E3%83%8E%E8%BC%AA%E9%A7%85">三ノ輪</a></li>
<li data-coords="24,7"><a href="http://ja.wikipedia.org/wiki/%E5%8D%97%E5%8D%83%E4%BD%8F%E9%A7%85">南千住</a></li>
<li data-coords="25,6" data-dir=E></li>
<li data-coords="25,5" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E5%8C%97%E5%8D%83%E4%BD%8F%E9%A7%85">北千住</a></li>
</ul>

<ul data-color="#00A7DB" data-label="東京メトロ東西線">
<li data-coords="5,10"><a href="http://ja.wikipedia.org/wiki/%E4%B8%AD%E9%87%8E%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">中野</a></li>
<li data-coords="8,9"><a href="http://ja.wikipedia.org/wiki/%E8%90%BD%E5%90%88%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">落合</a></li>
<li data-coords="11,8"><a href="http://ja.wikipedia.org/wiki/%E9%AB%98%E7%94%B0%E9%A6%AC%E5%A0%B4%E9%A7%85">高田馬場</a></li>
<li data-coords="13,8" data-dir=E><a href="http://ja.wikipedia.org/wiki/%E6%97%A9%E7%A8%B2%E7%94%B0%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E5%9C%B0%E4%B8%8B%E9%89%84)">早稲田</a></li>
<li data-coords="14,9" data-dir=E><a href="http://ja.wikipedia.org/wiki/%E7%A5%9E%E6%A5%BD%E5%9D%82%E9%A7%85">神楽坂</a></li>
<li data-coords="15,12"></li>
<li data-coords="17,14" data-dir=E></li>
<li data-coords="17,16"><a href="http://ja.wikipedia.org/wiki/%E7%AB%B9%E6%A9%8B%E9%A7%85">竹橋</a></li>
<li data-coords="19,16" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E5%A4%A7%E6%89%8B%E7%94%BA%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">大手町</a></li>
<li data-coords="21,17"></li>
<li data-coords="23,18"></li>
<li data-coords="25,18"></li>
<li data-coords="26,18" data-marker="interchange"></li>
<li data-coords="28,18"><a href="http://ja.wikipedia.org/wiki/%E6%9C%A8%E5%A0%B4%E9%A7%85">木場</a></li>
<li data-coords="29,18"><a href="http://ja.wikipedia.org/wiki/%E6%9D%B1%E9%99%BD%E7%94%BA%E9%A7%85">東陽町</a></li>
<li data-coords="30,18"><a href="http://ja.wikipedia.org/wiki/%E5%8D%97%E7%A0%82%E7%94%BA%E9%A7%85">南砂町</a></li>
<li data-coords="31,18"><a href="http://ja.wikipedia.org/wiki/%E8%A5%BF%E8%91%9B%E8%A5%BF%E9%A7%85">西葛西</a></li>
<li data-coords="32,18"><a href="http://ja.wikipedia.org/wiki/%E8%91%9B%E8%A5%BF%E9%A7%85">葛西</a></li>
<li data-coords="33,18"><a href="http://ja.wikipedia.org/wiki/%E6%B5%A6%E5%AE%89%E9%A7%85_(%E5%8D%83%E8%91%89%E7%9C%8C)">浦安</a></li>
<li data-coords="34,18"><a href="http://ja.wikipedia.org/wiki/%E5%8D%97%E8%A1%8C%E5%BE%B3%E9%A7%85">南行徳</a></li>
<li data-coords="35,18"><a href="http://ja.wikipedia.org/wiki/%E8%A1%8C%E5%BE%B3%E9%A7%85">行徳</a></li>
<li data-coords="36,18"><a href="http://ja.wikipedia.org/wiki/%E5%A6%99%E5%85%B8%E9%A7%85">妙典</a></li>
<li data-coords="37,18"><a href="http://ja.wikipedia.org/wiki/%E5%8E%9F%E6%9C%A8%E4%B8%AD%E5%B1%B1%E9%A7%85">原木中山</a></li>
<li data-coords="38,17" data-dir=E><a href="http://ja.wikipedia.org/wiki/%E8%A5%BF%E8%88%B9%E6%A9%8B%E9%A7%85">西船橋</a></li>
</ul>

<ul data-color="#009944" data-label="東京メトロ千代田線" data-shiftCoords="-1,0">
<li data-coords="8,16"><a href="http://ja.wikipedia.org/wiki/%E4%BB%A3%E3%80%85%E6%9C%A8%E4%B8%8A%E5%8E%9F%E9%A7%85">代々木上原</a></li>
<li data-coords="10,16"><a href="http://ja.wikipedia.org/wiki/%E4%BB%A3%E3%80%85%E6%9C%A8%E5%85%AC%E5%9C%92%E9%A7%85">代々木公園</a></li>
<li data-coords="11,16" data-dir=E></li>
<li data-coords="12,17" data-dir=E data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E6%98%8E%E6%B2%BB%E7%A5%9E%E5%AE%AE%E5%89%8D%E9%A7%85">明治神宮前</a></li>
<li data-coords="12,18"></li>
<li data-coords="12,19"><a href="http://ja.wikipedia.org/wiki/%E4%B9%83%E6%9C%A8%E5%9D%82%E9%A7%85">乃木坂</a></li>
<li data-coords="13,20" data-dir=S><a href="http://ja.wikipedia.org/wiki/%E8%B5%A4%E5%9D%82%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">赤坂</a></li>
<li data-coords="16,20" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E5%9B%BD%E4%BC%9A%E8%AD%B0%E4%BA%8B%E5%A0%82%E5%89%8D%E9%A7%85">国会議事堂前</a></li>
<li data-coords="18,20"></li>
<li data-coords="19,19"></li>
<li data-coords="19,17"><a href="http://ja.wikipedia.org/wiki/%E4%BA%8C%E9%87%8D%E6%A9%8B%E5%89%8D%E9%A7%85">二重橋前</a></li>
<li data-coords="19,16"></li>
<li data-coords="19,13"><a href="http://ja.wikipedia.org/wiki/%E6%96%B0%E5%BE%A1%E8%8C%B6%E3%83%8E%E6%B0%B4%E9%A7%85">新御茶ノ水</a></li>
<li data-coords="19,12"><a href="http://ja.wikipedia.org/wiki/%E6%B9%AF%E5%B3%B6%E9%A7%85">湯島</a></li>
<li data-coords="20,8"><a href="http://ja.wikipedia.org/wiki/%E6%A0%B9%E6%B4%A5%E9%A7%85">根津</a></li>
<li data-coords="20,6"><a href="http://ja.wikipedia.org/wiki/%E5%8D%83%E9%A7%84%E6%9C%A8%E9%A7%85">千駄木</a></li>
<li data-coords="21,5"></li>
<li data-coords="22,5"><a href="http://ja.wikipedia.org/wiki/%E8%A5%BF%E6%97%A5%E6%9A%AE%E9%87%8C%E9%A7%85">西日暮里</a></li>
<li data-coords="24,5"><a href="http://ja.wikipedia.org/wiki/%E7%94%BA%E5%B1%8B%E9%A7%85">町屋</a></li>
<li data-coords="25,5"></li>
<li data-coords="27,5"><a href="http://ja.wikipedia.org/wiki/%E7%B6%BE%E7%80%AC%E9%A7%85">綾瀬</a></li>
<li data-coords="27,4"><a href="http://ja.wikipedia.org/wiki/%E5%8C%97%E7%B6%BE%E7%80%AC%E9%A7%85">北綾瀬</a></li>
</ul>

<ul data-color="#D7C447" data-label="東京メトロ有楽町線" data-shiftCoords="1,0">
<li data-coords="1,2" data-marker="interchange" data-markerShiftCoords="0.5,-0.5"><a href="http://ja.wikipedia.org/wiki/%E5%92%8C%E5%85%89%E5%B8%82%E9%A7%85">和光市</a></li>
<li data-coords="3,2" data-marker="interchange" data-markerShiftCoords="0,-0.5"><a href="http://ja.wikipedia.org/wiki/%E5%9C%B0%E4%B8%8B%E9%89%84%E6%88%90%E5%A2%97%E9%A7%85">地下鉄成増</a></li>
<li data-coords="5,2" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E5%9C%B0%E4%B8%8B%E9%89%84%E8%B5%A4%E5%A1%9A%E9%A7%85">地下鉄赤塚</a></li>
<li data-coords="6,3" data-dir=E data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E5%B9%B3%E5%92%8C%E5%8F%B0%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">平和台</a></li>
<li data-coords="6,4" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E6%B0%B7%E5%B7%9D%E5%8F%B0%E9%A7%85">氷川台</a></li>
<li data-coords="7,5" data-dir=S data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E5%B0%8F%E7%AB%B9%E5%90%91%E5%8E%9F%E9%A7%85">小竹向原</a></li>
<li data-coords="8,5" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E5%8D%83%E5%B7%9D%E9%A7%85">千川</a></li>
<li data-coords="9,5" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E8%A6%81%E7%94%BA%E9%A7%85">要町</a></li>
<li data-coords="10,5" data-dir=E></li>
<li data-coords="13,6" data-dir=S><a href="http://ja.wikipedia.org/wiki/%E6%9D%B1%E6%B1%A0%E8%A2%8B%E9%A7%85">東池袋</a></li>
<li data-coords="15,7" data-dir=S><a href="http://ja.wikipedia.org/wiki/%E8%AD%B7%E5%9B%BD%E5%AF%BA%E9%A7%85">護国寺</a></li>
<li data-coords="15,8" data-dir=E><a href="http://ja.wikipedia.org/wiki/%E6%B1%9F%E6%88%B8%E5%B7%9D%E6%A9%8B%E9%A7%85">江戸川橋</a></li>
<li data-coords="15,12"></li>
<li data-coords="15,14"></li>
<li data-coords="15,15"><a href="http://ja.wikipedia.org/wiki/%E9%BA%B9%E7%94%BA%E9%A7%85">麹町</a></li>
<li data-coords="15,16" data-marker="interchange"><a href="http://ja.wikipedia.org/wiki/%E6%B0%B8%E7%94%B0%E7%94%BA%E9%A7%85">永田町</a></li>
<li data-coords="17,18"><a href="http://ja.wikipedia.org/wiki/%E6%A1%9C%E7%94%B0%E9%96%80%E9%A7%85">桜田門</a></li>
<li data-coords="20,18"></li>
<li data-coords="21,19" data-dir=E><a href="http://ja.wikipedia.org/wiki/%E6%9C%89%E6%A5%BD%E7%94%BA%E9%A7%85">有楽町</a></li>
<li data-coords="22,20" data-dir=S><a href="http://ja.wikipedia.org/wiki/%E9%8A%80%E5%BA%A7%E4%B8%80%E4%B8%81%E7%9B%AE%E9%A7%85">銀座一丁目</a></li>
<li data-coords="23,21" data-dir=E><a href="http://ja.wikipedia.org/wiki/%E6%96%B0%E5%AF%8C%E7%94%BA%E9%A7%85_(%E6%9D%B1%E4%BA%AC%E9%83%BD)">新富町</a></li>
<li data-coords="24,22" data-dir=S></li>
<li data-coords="26,22" data-dir=E></li>
<li data-coords="28,22" data-dir=E><a href="http://ja.wikipedia.org/wiki/%E8%B1%8A%E6%B4%B2%E9%A7%85">豊洲</a></li>
<li data-coords="29,22"><a href="http://ja.wikipedia.org/wiki/%E8%BE%B0%E5%B7%B3%E9%A7%85">辰巳</a></li>
<li data-coords="30,21" data-dir=E><a href="http://ja.wikipedia.org/wiki/%E6%96%B0%E6%9C%A8%E5%A0%B4%E9%A7%85">新木場</a></li>
</ul>


<ul data-color="#9B7CB6" data-label="東京メトロ半蔵門線" data-shiftCoords="0,-1">
<li data-coords="11,18"></li>
<li data-coords="12,18"></li>
<li data-coords="14,17"></li>
<li data-coords="15,16" data-dir=N></li>
<li data-coords="16,15" data-dir=E><a href="http://ja.wikipedia.org/wiki/%E5%8D%8A%E8%94%B5%E9%96%80%E9%A7%85">半蔵門</a></li>
<li data-coords="17,14"></li>
<li data-coords="18,14"></li>
<li data-coords="19,16"></li>
<li data-coords="21,17"></li>
<li data-coords="23,17"></li>
<li data-coords="25,17"><a href="http://ja.wikipedia.org/wiki/%E6%B0%B4%E5%A4%A9%E5%AE%AE%E5%89%8D%E9%A7%85">水天宮前</a></li>
<li data-coords="26,17"></li>
<li data-coords="28,17"></li>
<li data-coords="29,16" data-dir=E></li>
<li data-coords="29,14"></li>
<li data-coords="29,12"><a href="http://ja.wikipedia.org/wiki/%E9%8C%A6%E7%B3%B8%E7%94%BA%E9%A7%85">錦糸町</a></li>
<li data-coords="29,9"></li>
</ul>

<ul data-color="#00ADA9" data-label="東京メトロ南北線" data-shiftCoords="0,-1">
<li data-coords="12,26"></li>
<li data-coords="14,26"></li>
<li data-coords="16,26"></li>
<li data-coords="16,25"></li>
<li data-coords="15,22"><a href="http://ja.wikipedia.org/wiki/%E5%85%AD%E6%9C%AC%E6%9C%A8%E4%B8%80%E4%B8%81%E7%9B%AE%E9%A7%85">六本木一丁目</a></li>
<li data-coords="15,21"></li>
<li data-coords="16,19"></li>
<li data-coords="16,17" data-dir=E></li>
<li data-coords="15,16"></li>
<li data-coords="14,15" data-dir=W></li>
<li data-coords="15,14"></li>
<li data-coords="15,12"></li>
<li data-coords="16,11"></li>
<li data-coords="18,10"><a href="http://ja.wikipedia.org/wiki/%E6%9D%B1%E5%A4%A7%E5%89%8D%E9%A7%85">東大前</a></li>
<li data-coords="19,9" data-dir=E><a href="http://ja.wikipedia.org/wiki/%E6%9C%AC%E9%A7%92%E8%BE%BC%E9%A7%85">本駒込</a></li>
<li data-coords="19,7"><a href="http://ja.wikipedia.org/wiki/%E9%A7%92%E8%BE%BC%E9%A7%85">駒込</a></li>
<li data-coords="19,5"><a href="http://ja.wikipedia.org/wiki/%E8%A5%BF%E3%82%B1%E5%8E%9F%E9%A7%85">西ケ原</a></li>
<li data-coords="19,4"><a href="http://ja.wikipedia.org/wiki/%E7%8E%8B%E5%AD%90%E9%A7%85">王子</a></li>
<li data-coords="18,3"><a href="http://ja.wikipedia.org/wiki/%E7%8E%8B%E5%AD%90%E7%A5%9E%E8%B0%B7%E9%A7%85">王子神谷</a></li>
<li data-coords="17,3"><a href="http://ja.wikipedia.org/wiki/%E5%BF%97%E8%8C%82%E9%A7%85">志茂</a></li>
<li data-coords="16,3"><a href="http://ja.wikipedia.org/wiki/%E8%B5%A4%E7%BE%BD%E5%B2%A9%E6%B7%B5%E9%A7%85">赤羽岩淵</a></li>
</ul>

<ul data-color="#BB641C" data-label="東京メトロ副都心線" data-shiftCoords="1,-1">
<li data-coords="1,2"></li>
<li data-coords="3,2"></li>
<li data-coords="5,2"></li>
<li data-coords="6,3" data-dir=E></li>
<li data-coords="6,4"></li>
<li data-coords="7,5" data-dir=S></li>
<li data-coords="8,5"></li>
<li data-coords="9,5"></li>
<li data-coords="10,5"></li>
<li data-coords="12,7" data-dir=E><a href="http://ja.wikipedia.org/wiki/%E9%9B%91%E5%8F%B8%E3%81%8C%E8%B0%B7%E9%A7%85">雑司が谷</a></li>
<li data-coords="12,9" data-dir=S><a href="http://ja.wikipedia.org/wiki/%E8%A5%BF%E6%97%A9%E7%A8%B2%E7%94%B0%E9%A7%85">西早稲田</a></li>
<li data-coords="12,10"></li>
<li data-coords="12,12"></li>
<li data-coords="12,16"><a href="http://ja.wikipedia.org/wiki/%E5%8C%97%E5%8F%82%E9%81%93%E9%A7%85">北参道</a></li>
<li data-coords="12,17"></li>
<li data-coords="11,18" data-dir=S></li>
</ul>
    </div>
    <div id="sidebar">
        <button id="sidebar-toggle">X</button>
        <div id="sidebar-content">test test</div>
    </div>
    <div id="legend"></div>
    <script type="text/javascript" src="{% static 'js/run.js' %}"></script>
</body>
</html>
